<!DOCTYPE html>
<html>
 <head>
  <title>Item Catalog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/style.css" />
 </head>
<body>
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-2"></div>
   <div class="col-md-8">
     <div class="title"></div>
     <div class="content">
     {% block content %}
     {% endblock %}
     </div>
    </div>
   <div class="col-md-2"></div>
  </div>
 </div>
</body>
</html>
