<!DOCTYPE html>
<html>
 <head>
  <title>Item Catalog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel=stylesheet href="{{url_for('static', filename='style.css')}}">
 </head>
<body>
 <div class="container-fluid">
   <div class="row">
     <div class="col-md-8"></div>
     <div class="col-md-2">
       <p style="text-align:center;padding-top:15px;">
         {% if 'username' not in session %}
           <a style='color:#000000;' href="{{url_for('showLogin')}}">Login</a>
          {% else %}
           <a style='color:#000000;' href="{{url_for('logout')}}">Logout</a>
          {% endif %}
       </p>
     </div>
     <div class="col-md-2"></div>
   </div>
  <div class="row">
   <div class="col-md-4"></div>
   <div class="col-md-4">
      <p style="text-align:center;padding:10px;font-size:18px;color:DarkBlue">
        Design a High-End Computer
      <p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
     <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8">
     <ul class="NavBarD">
       <li><a href="/">Home</a></li>
       <li><a href="{{url_for('showCategories')}}">Component Classes</a></li>
       <li><a href="{{url_for('newCategory')}}">New Component Class</a></li>
     </ul>
     <div class="content">
     {% block content %}
     {% endblock %}
     </div>
     </div>
     <div class="col-md-2"></div>
   </div>
  </div>
 </div>
</body>
</html>
