
.NavBarD {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


 ul li a:hover {
  color: grey;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

 ul li a:link {
  color: grey;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

ul li a:visited {
  color: grey;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

 ul li a:hover {
  color: grey;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}
